.text {
    color: red;
}

.number {
    color: blue;
}

.text img {
    position: relative;
    transform-style: preserve-3d;
    height: 400px;
    transform: rotate3d(0, 1, 0, 60deg);
    text-align: left;
}